/*
My Custom CSS
*/

body{
  background-color: RGB(239, 237, 232);
  margin: 0px;
font-family: "Helvetica Neue", Helvetica, Roboto, Arial, Geneva, "Heiti TC", "Microsoft JhengHei", sans-serif;
}
/* -------------------------
  Layout
----------------------------*/
.navbar-header img{
  width: 100px;
  height: 80px;
}
.navbar-header:hover{
  transform: scale(1.1);
}

/* -------------------------
  Typography
----------------------------*/


/* -------------------------
  Navbar
----------------------------*/
.navbar-nav{
  margin-top: 15px;
  font-size: 2rem;
}
.navbar .container{
  width: 1170px;
}
/* -------------------------
  Carousel
----------------------------*/
#myCarousel{
  width: 1170px;
  margin-left: -15px;
}
#myCarousel img{
  border-radius: 5px;
}


/* -------------------------
  Row
----------------------------*/
.row{
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid RGB(239, 237, 232);
  border-radius: 5px;
  padding: 5px 20px;
  box-sizing: border-box;
}
.row img{
  border-radius: 5px;
  width: 250px;
  height: 250px;
}
.container img:hover{
  opacity: 0.7;
}
.row h3{
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid RGB(239, 237, 232);
}
.row h4{
  text-align:left;
}
.row .person{
  color: RGB(188, 188, 188);
}

/* -------------------------
  Footer
----------------------------*/
footer{
  background-color: white;
  height: 200px;
  text-align: center;

}
footer .container p{
  margin-top: 8px;
}
footer .row{
  border-style: none;
}
footer .row img{
  width: 50px;
  height: 50px;
}
footer .col-lg-3:hover{
  transform: scale(1.1);
}
footer .copyright{
  padding-top: 15px;
  border-top: 2px solid RGB(239, 237, 232);
}
